<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="authenticationSpring" class="io.application.sample.spring.AuthenticationSpring">
        <property name="authenticationSpringService" ref="authenticationSpringService"/>
    </bean>
    <bean id="authenticationSpringService" class="io.application.sample.spring.AuthenticationSpringService">
        <property name="authenticationSpringDAO" ref="authenticationSpringDAO"/>
    </bean>
    <bean id="authenticationSpringDAO" class="io.application.sample.spring.AuthenticationSpringDAO"/>

</beans>
